* {
    box-sizing: border-box;
}

/*Navigation Bar*/
.navbar-brand a h1, .nav-link a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff
}

button.navbar-toggler {
    background-color: #ffffff;
}
/*End of Navigation Bar*/

/*Menu Page*/
.page-title, .item-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
}
.menu-item {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 15px;
    text-align: justify;
}


/*End of Menu Page*/